@import 'vars.scss';

@mixin tag-button {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.6vw;
    color: #FFFFFF;
    float: left;
}

@mixin main-page-tag {
    font-size: 1vw;
    padding: 0 0.5vw
}

.w-genre-tag {
    @include tag-button;
    @include main-page-tag;
    background: rgba(255, 255, 255, 0.4);
}

.w-group-tag {
    @include main-page-tag;
    @include tag-button;
}

.m-tag-color-red {
    background: rgba(255, 131, 131, 0.4);
}
.m-tag-color-blue {
    background: rgba(82, 141, 255, 0.4);
}
.m-tag-color-lilac {
    background: #B4ADFF66;
}
.m-tag-color-green {
    background: #ADF0FF66;
}


@mixin general-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    font-size: 1.2vw;
    float: left;
    font-weight: 500;
    padding: 0 0.5vw
}


.w-button-light {
    @include general-button;
    background-color: #fff;
    color: #484848;
}

.w-button-dark {
    @include general-button;
    background-color: $theme-dark-color-bg-black;
    color: #fff;
}

.w-picted-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        float: left;
        height: 100%;
    }
    .text {
        float: left;
    }
}

.w-bage-designer {
    background: linear-gradient(90deg, #FF5592 0%, #A661FF 49.98%, #92FFF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.w-studio-name-text {
    text-decoration: underline;
    color: $theme-dark-color-font-main;
}
