// dark theme
$theme-dark-color-navbar-bg: rgba(28, 27, 32, 0.95);
$theme-dark-color-navbar-bg-no-transparent: rgba(28, 27, 32, 1.0);
$theme-dark-search-widget-color: #3b3b3f;
$theme-dark-color-search-btn-bg: #646366;
$theme-dark-color-seek-widget: #8b888b;
$theme-dark-color-watching: #A8DAFF;
$theme-dark-color-planned: #B9A8FF;
$theme-dark-color-viewed: #C9FFA8;
$theme-dark-color-rewatching: #FFECA8;
$theme-dark-color-favorite: #FFA8D2;
$theme-dark-color-disliked: #FF5757;
$theme-dark-color-urgent: #FF4545;
$theme-dark-toolbar-message-fg: #C4C4C4;
$theme-dark-color-font-main: #ffffff;
$theme-dark-color-button-autoplay: #484848;
$theme-dark-color-bg-black: #1C1B20;
$theme-dark-color-bg-news-time: #FFFFFF1A;
$theme-dark-color-bg-popup-lighter: rgba(255, 255, 255, 0.05);
$theme-dark-color-fg-news-time: #AAAAAA;
$theme-dark-color-fg-mailto: #FFA0BD;
$theme-dark-color-bg-footer-1: #212027;
$theme-dark-color-bg-footer-2: #2c2b32;
$theme-dark-color-ustatus-button: #1C1B20E5;
