@import 'vars.scss';

.top-pane {
    max-height: 100vh;

    >.video {
        width: 100vw;
        overflow: hidden;

        >.player-container {
            width: 100%;
            overflow: hidden;

            >.view-port {
                width: 400%;
                position: relative;
                left: 0px;
                display: flex;
                flex-direction: row;
                overflow: hidden;

                video {
                    max-width: 100vw;
                }
            }
        }
    }
}

.top-pane {
    overflow: hidden;

    .overlay {
        position: absolute;
        top: 0;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .seek-widget {
        display: flex;
        gap: 0.3vw;
        
        .fragment {
            width: 2.4vw;
            height: 0.4vw;
            background-color: $theme-dark-color-seek-widget;
            border-radius: 1vw;

            .progress {
                border-radius: 1vw;
                height: 100%;
                width: 0%;
                background-color: $theme-dark-color-font-main;
                box-shadow: 0 0 5px 0px #ffffff;
            }
        }

        .current-fragment > .progress {
        }
    }

}

.bottom-pane {
    width: 100%;
    max-width: 100vw;
    position: relative;

    >.gradients {
        position: absolute;
        width: 100%;
        top: -20vh;
        z-index: 1;
        
        >.gradient-pass1 {
            width: 100%;
            height: 20vh;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0));
        }


        >.gradient-pass2 {
            width: 100%;
            height: 20vh;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0));
        }
    }

    .content-pane {
        position: relative;
        z-index: 1;
    }
}

.m-logo-main {
    margin-left: 4.5vw;
    >img {
        width: 15vw;
    }
}

.m-navbar-main {
    margin-top: 0.6vw;    
}

.m-navbar-left {
    margin-left: 1vw;
}


.w-navbar .m-avatar-toolbar {
    margin-left: 1vw;
    width: $navbar-height;
    height: $navbar-height;
    float: right;
}

.player-top {
    display: flex;
    align-items: flex-start;
    width: 100%;

    .title-info {
        flex-grow: 1;
        margin-left: 4.5vw;
        margin-top: 1vw;
        align-self: start;
        color: $theme-dark-color-font-main;
        font-size: 1.9vw;
        min-width: 30vw;

        .w-genre-tag, .w-group-tag {
            margin-right: 0.8vw;
        }
    }
}


.player-control-pp {
    align-self: right;
    flex-grow: 30;
    display: flex;
    justify-content: right;
    width: 90%;
    margin-top: 1.2vw;
    font-weight: 600;

    a {
        margin-right: 3vw;
        border-radius: 2vw;
        height: 1.6vw;
        min-width: 5.7vw;
        display: flex;
        align-items: center;
        border: 0.15vw solid $theme-dark-color-font-main;
    }

    .js-icon {
        display: inline-block;
        margin-left: 0.6vw;
        margin-right: 0.5vw;
        width: 0.9vw;
        height: 0.9vw;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .m-state-play {
        background-color: $theme-dark-color-font-main;
        color: $theme-dark-color-button-autoplay;

        .js-icon {
            background-image: url('/img/widget/icon/autoplay-play.svg');
        }
        .js-text span::before {
            content: 'Авто';
        }

    }

    .m-state-pause {
        background-color: none;
        color: $theme-dark-color-font-main;

        .js-icon {
            background-image: url('/img/widget/icon/autoplay-pause.svg');
        }
        .js-text span::before {
            content: 'Стоп';
        }
    }

}

.title-info {
    a {
        color: $theme-dark-color-font-main;
    }
    .genres {
        margin-top: 1.6vw;
    }

    .tags {
        margin-top: 0.95vw;
    }
}


.player-bottom {
    width: 100%;
    position: absolute;
    z-index: 2;

    @media (min-aspect-ratio: 8/5) {
        top: 85vh;
    }

    display: flex;

    .group-left {
        margin-left: 4.5vw;
        align-self: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
        .go-to-title {
            width: 13vw;
            font-size: 1vw;
            margin-top: 0.7vw;
            height: 1.8vw;
        }
    }

    .group-center {
        flex-grow: 3;
        align-self: center;
        display: flex;
        height: 2vw;
        justify-content: center;

        a {
            display: flex;
            top: 7vh;
            position: relative;
            height: 3vw;

            img {
                width: 2.5vw;
            }
        }
    }

    .group-right {
        margin-right: 2vw;
    }
}

.main-page-title {
    width: 100%;
    color: $theme-dark-color-font-main;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 1.9vw;
}

.main-page-genres-show-more {
    width: 100%;
    color: $theme-dark-color-font-main;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 1.9vw;

    .icon {
        margin-left: 1vw;
        img {
            margin-top: 0.2vw;
            width: 0.8vw;
        }
    }
}

.picted-list {
    display: flex;   
    width: 100%;
    flex-direction: column;

    .atitles {
        position: relative;
        overflow-x: hidden;
        overflow-y: visible;
        width: 100%;
        height: 23.5vw;
        margin-bottom: 1vw;
        display: flex;
        
        >.view-area {   
            overflow-x: hidden;
            overflow-y: visible;
            position: absolute;
            left: 0vw;
            top: 0vw;
            width: 400vw;
            height: 100%;
            display: flex;
            flex-direction: row;
            padding-top: 1vw;
            padding-bottom: 1vw;

            >.page {
                width: 99vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    }

    .top-genres, .rest-genres>div>div {
        display: flex;   
        width: 100%;
        justify-content: center;
        gap: 0vw;
        flex-wrap: wrap;

        .genre-card {
            width: 23vw;
            height: 23vw;

            .expand-area {
                width: 23vw;
                height: 23vw;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .img-card {
                    border-radius: $main-border-radius ;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 20.2vw;
                    height: 20.2vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: start;
                    color: $theme-dark-color-font-main;
                    transition: all .2s ease-in-out;

                    .gap1 { height: 18%; }
                    .gap2 { height: 22%; }

                    .genre-name {
                        display: flex;
                        self-align: center;
                        justify-content: center;
                        width: 100%;
                        font-size: 1.9vw;
                        font-weight: 500;
                    }

                    .genre-stats {
                        display: flex;
                        justify-content: center;
                        self-align: end;
                    }
                }

                .img-card:hover {
                    filter: brightness(130%);
                    transform: scale(1.10);
                }
            }
        }

        .genre-card-isekai { text-shadow: 0px 0px 10px #FF5146; }
        .genre-card-senen { text-shadow: 0px 0px 10px #FF507A; }
        .genre-card-ecchi { text-shadow: 0px 0px 10px #5398FF; }
        .genre-card-comedy { text-shadow: 0px 0px 10px #ED6E9F; }
        .genre-card-romantic { text-shadow: 0px 0px 10px #FF5384; }
        .genre-card-school { text-shadow: 0px 0px 10px #0BBAFB; }
        .genre-card-harem { text-shadow: 0px 0px 10px #EACCF8; }
        .genre-card-sainen { text-shadow: 0px 0px 10px #B0F0D0; }
        .genre-card-sedze { text-shadow: 0px 0px 10px #FF3F3F; }
        .genre-card-vampires { text-shadow: 0px 0px 10px #3F22B7; }
        .genre-card-demons { text-shadow: 0px 0px 10px #CD0000; }
        .genre-card-senen-ai { text-shadow: 0px 0px 10px #5EA2EF; }
    }

    .rest-genres {
        width: 100%;

        >.center-span {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            >.list-view {
                width: 70vw;
                display: flex;
                justify-content: center;
                
                > .genre-card {
                    width: 23vw;
                    height: 11.5vw;

                    .expand-area {
                        width: 23vw;
                        height: 11.5vw;

                        .img-card {
                            height: 10.1vw;

                            >.gap1 { height: 30%; }
                            >.gap2 { height: 14%; }
                        }
                    }
                }
            }
        }
    }

    .s-state-hidden {
        display: none;
    }


    .news {
        display: flex;   
        width: 100%;
        justify-content: center;
        gap: 1vw;
        margin-bottom: 1vw;

        .new-card {
            width: 25vw;
            height: 25vw;

            .expand-area {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .img-card {
                    border-radius: calc($main-border-radius);
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    width: 95%;
                    height: 95%;
                    color: $theme-dark-color-font-main;
                    transition: all .2s ease-in-out;

                    .info {
                        font-weight: 500;
                        margin-top: 85%;
                        height: 7vw;
                        width: 100%;
                        border-radius: calc($main-border-radius - 0.4vw);
                        background-color: $theme-dark-color-bg-black;

                        .title {
                            font-size: 1vw;
                            padding: 0.6vw;
                        }

                        >div {
                            width: 100%;

                            .date, .time {
                                font-size: 1vw;
                                border-radius: 0.5vw;
                                display: flex;
                                justify-content: center;
                                background-color: $theme-dark-color-bg-news-time;
                                color: $theme-dark-color-fg-news-time;
                            }

                            .date {
                                float: left;
                                width: 5.5vw;
                                margin-left: 1.1vw;
                            }

                            .time {
                                float: right;
                                width: 3.5vw;
                                margin-right: 1.1vw;
                            }

                        }
                    }
                }

                .img-card:hover {
                    filter: brightness(120%);
                    transform: scale(1.05);
                }
            }
        }
    }
}


.footer {
    width: 100%;
    margin-top: 11vw;
    color: $theme-dark-color-fg-news-time;

    a {
        text-decoration: underline;
        color: $theme-dark-color-fg-mailto;
    }


    >.top-part {
        border-radius: $main-border-radius $main-border-radius 0 0;
        width: 100%;
        height: 10vw;
        background-color: $theme-dark-color-bg-footer-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1vw;

        >div {
            margin-top: -2vw;
            margin-left: 6vw;
            display: flex;
            gap: 1vw;
            
            >.info {
                padding: 0.5vw;
                background-color: $theme-dark-color-bg-news-time;
                border-radius: calc($main-border-radius / 3);
            }
        }

        .socials {
            display: flex;
            gap: 1vw;
            margin-right: 5vw;
            margin-top: -2vw;

            >a {
                background-size: contain;
                background-repeat: no-repeat;
                width: 2vw;
                height: 2vw;
            }

            .social-tg {
                background-image: url('/img/widget/icon/social/tg.svg');
            }
            .social-tg:hover {
                background-image: url('/img/widget/icon/social/tg_on.svg');
            }
            .social-vk {
                background-image: url('/img/widget/icon/social/vk.svg');
            }
            .social-vk:hover {
                background-image: url('/img/widget/icon/social/vk_on.svg');
            }
            .social-youtube {
                background-image: url('/img/widget/icon/social/youtube.svg');
            }
            .social-youtube:hover {
                background-image: url('/img/widget/icon/social/youtube_on.svg');
            }
            .social-discord {
                background-image: url('/img/widget/icon/social/discord.svg');
            }
            .social-discord:hover {
                background-image: url('/img/widget/icon/social/discord_on.svg');
            }
            .social-twitch {
                background-image: url('/img/widget/icon/social/twitch.svg');
            }
            .social-twitch:hover {
                background-image: url('/img/widget/icon/social/twitch_on.svg');
            }
            .social-tiktok {
                background-image: url('/img/widget/icon/social/tiktok.svg');
            }
            .social-tiktok:hover {
                background-image: url('/img/widget/icon/social/tiktok_on.svg');
            }
        }

    }

    >.bottom-part {
        margin-top: -2vw;
        border-radius: $main-border-radius $main-border-radius 0 0;
        width: 100%;
        height: 3vw;
        background-color: $theme-dark-color-bg-footer-2;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .disclaimer {
            margin-left: 6vw;
        }
        .policy {
            margin-right: 5vw;
        }
    }
}
